
body {
    background-color: #05406e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 90vw;
    height: 50vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner-box {
    background-color: #14c4b2;
    display: flex;
    border-radius: 3%;
    padding: 20px;
}
.box {
    background-color: #1ddc40;
    width: 150px;
    height: 150px;
    border-radius: 4%;
    display: flex;
}
.inner-box1 { 
     gap: 30px;
     align-items: flex-end;    
}
.box1 {
    border: 1px solid black;
}
.inner-box2 { 
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.box2 {
    height: 90%;
}
.inner-box3 { 
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
}
.inner-box4 { 
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6rem;   
}
.box4 {
    margin-left: auto;
    align-self: flex-end;
}
.inner-box5 { 
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.box5 {
    height: 90%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    border: 1px solid black;
}
.box5a {
    width: 150px;
    height: 120px;
    justify-content: center;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    border: 1px solid black;
}
.inner-box6 { 
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.box6 {
    width: 150px;
    height: 150px;
}
.box6a {
    width: 300px;
    height: 150px;
}
